{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}
<title>create</title>
{% endblock %}

{% block contents%}

<h1 class="text-center mb-3 mt-3" >Create Attendance</h1>


<!-- create the toggle switch -->


{% if attendance_url %}
  <p>share the attendance link </p>
  <p style="background-image: red"> <a href="{{attendance_url}}"> {{attendance_url}}</a></p>
{% endif%}

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="form-selector">Attendance type</label>
  </div>
  <select class="custom-select" id="form-selector">
    <option selected>Choose...</option>
    <option value="studentForm">Student Attendance</option>
    <option value="officeForm">Office Attendance</option>
  </select>
</div>




<div >

  {% if studentattendanceForm %}
      <form method="POST" action="" id="student-form" >{% csrf_token %}
          {{studentattendanceForm|crispy}}
          <input type="hidden" name="longitude" id="longitude">
          <input type="hidden" name="latitude" id="latitude">

          <input class="btn btn-success" type="submit" name="student_form" value="create"/>
      </form>
      {% else %}

  {% endif %}

  {% if officeattendanceForm %}

    <form method="POST" action="" id="office-form" style="display: none;">{% csrf_token %}
        {{officeattendanceForm|crispy}}
        <input type="hidden" name="longitude" id="longitude">
        <input type="hidden" name="latitude" id="latitude">
        <input class="btn btn-success" type="submit" name="office_form" value="create "/>
    </form>
</div>
  {% else %}

{% endif %}

{% endblock %}

{%  block scripts %}

<script>
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    let latitude = position.coords.latitude;
    let longitude = position.coords.longitude;

    
    // Set the value of the hidden fields
    $('student-form #latitude,#office-form,#latitude').val(latitude);
    $('student-form #longitude,#office-form,#longitude').val(longitude);

  });
} else {
  console.log('Geolocation is not supported by this browser.');
}


let studentForm = document.getElementById("student-form");
let officeForm = document.getElementById("office-form");
let formselector = document.getElementById("form-selector");

officeForm.style.display = "none";
studentForm.style.display = "none";
formselector.addEventListener('change',function(){
let selectedForm = formselector.value;

if (selectedForm === "studentForm"){
studentForm.style.display = "block";
officeForm.style.display = "none";

}else if (selectedForm === "officeForm"){
studentForm.style.display = "  none"  ;
officeForm.style.display = "  block"  ;


}else{
studentForm.style.display = "  none"  ;
officeForm.style.display = "  none"  ;

}
});
</script>
{%  endblock %}
