{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head %}

{% endblock %}

{% block contents%}

<div class="col-md-8">
      <h1 class="text-center h6 ">please insert code to take attendance </h1>
      {% if messages %}
      <div class=" mb-3 ">
            <div class="messages" >
            {% for message in messages %}
                  <div {% if message.tags %} class="{{ message.tags }}  "{% endif %}>{{ message }}</div>
            {% endfor %}
      </div>
      </div>

      {% endif %}
</div>


<div class="col-md-8">
      <form method="post" action="{% url 'attendance_identifier' %}" id="identifier">{% csrf_token %}
        {{identifierform|crispy}}
        <input class="btn btn-success" type="submit" name="attendance_submit" />
      </form>
</div>


{% endblock%}



{% block scripts %}

      <script>
            var inputField = document.getElementById('identifier-input'); // replace "field_name" with the name of your input field
            inputField.addEventListener('input', function() {
            if (inputField.value.length < 36) {
            inputField.style.borderColor = 'red';
            } else {
                  inputField.style.borderColor = 'green';
            }
            });    



            
            $(document).ready(function(){
            window.setTimeout(function() {
            $(".messages").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove();
            });
            }, 5000);
            });

      </script>
{% endblock%}
