{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block contents%}

    <div class="container-fluid pb-2">

      

        {% if messages %}
            <div class="title text-center text-danger rounded p-2 pb-2">
                {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }} "{% endif %}>
            <span>{{message}}</span>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


<div class="jumbotron">
  <h1 class="display-4">Mark Me Present</h1>
  <p class="lead">Student might not like us but we are dedicated in ensuring an honesty in a place of school or offices when it comes to being present in a lecture hall or in an office meeting .With our location based attendance system no one can take attendance without actually being present in the lecture hall or meeting.</p>
  <hr class="my-4">
  <p>As a lecturer or an office leader what are you waiting for , Track those who where present in the meeting or lecture class .Click the button bellow to get create an attendance </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="\create" role="button">CREATE ATTENDANCE</a>
  </p>
</div>
{% endblock%}
