{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}




{% block head %}

{% endblock %}

{% block contents%}
<!--  -->

<div class="col-md-8">
      {% if messages %}
      <div class=" mb-3 ">
            <div class="messages" >
            {% for message in messages %}
                  <div {% if message.tags %} class="{{ message.tags }}  "{% endif %}>{{ message }}</div>
            {% endfor %}
      </div>
      </div>

      {% endif %}


    <h1 class="text-center h5">share the attendance link or the unique identifier </h1>

  {% if attendance_url %}
    <div id="copylink">
        <p > <a href="{{attendance_url}}"> {{attendance_url}}</a></p>
        <p>{{identifier}}</p>
    </div>
  {% endif%}
</div>


{% block scripts %}

<script>

var remaining_seconds = {{ remaining_time.total_seconds }};
function countdown() {
    if (remaining_seconds > 0) {
        remaining_seconds -= 1;
        var minutes = Math.floor(remaining_seconds / 60);
        var seconds = Math.floor(remaining_seconds % 60);
        var remaining_time_string = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
        document.getElementById("remaining-time").textContent = remaining_time_string;
        setTimeout(countdown, 1000);
    } else {
        document.getElementById("remaining-time").textContent = "Time's up!";
    }
}
countdown();


  $(document).ready(function(){
            window.setTimeout(function() {
            $(".messages").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove();
            });
            }, 5000);
            });

</script>

{% endblock %}


{% endblock%}
