
{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block head %}
	<title>login</title>
{% endblock %}


{% block contents %}


<div class=" mx-auto ">

    <div class="py-3 mb-3">
        <!-- SHOULD PUT LOGO HERE -->
    </div>


    <div class="mx-auto rounded shadow-sm bg-white py-3" style="max-width: 425px;">
    <div class="container-fluid pb-2">

      <div class="text-center pb-4 pt-2 fs-5"> Log in </div>
      

        {% if messages %}
            <div class="title text-center text-danger rounded p-2 pb-2">
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }} "{% endif %}>
                        <span>{{message}}</span>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        


    {% if form %}
        <div>   
            <form method="post" action="" >{% csrf_token %}
            {{form|crispy}}
            <div class="pb-3s mt-3">
            <input class="btn btn-success btn-sm w-100" id="subBtn" type="submit" value="Log in">
            </div>
            </form>
        </div>
    {% else %}

    {% endif %}

        
        
</div>
</div>
</div>


{% endblock %}


