{% extends 'base.html'%}
{% load crispy_forms_tags %}


{% block head %}
    <title>New Password</title>
{% endblock %}


{% block contents %}

<div class=" mx-auto ">

    <div class="py-3 mb-3">
        <!-- SHOULD PUT LOGO HERE -->
    </div>


    <div class="mx-auto rounded shadow-sm bg-white py-3" style="max-width: 425px;">
    <div class="container-fluid pb-2">

      <div class="text-center pb-4 pt-2 fs-5"> Set New Password 

      </div>
              
        {% if messages %}
        <div class="px-5 mb-3 ">
            <div class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        </div>

        {% endif %}

        <div>   
            <form method="post">{% csrf_token %}
            {{form|crispy}}
            <div class="pb-3s mt-3">
            <input class="btn btn-success btn-sm w-100" id="subBtn" type="submit" value="Confirm Password Reset">
        
            </div>
            </form>
        </div>
 
        
</div>
</div>
</div>


{% endblock %}

