{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block head %}

{% endblock %}

{% block contents%}







<h1> Take Attendance for {{attendance_title}}</h1>


<div >
  {% if student_form %}
      <form method="post" action="" id="student-form" >{% csrf_token %}
          {{student_form|crispy}}
          <input class="btn btn-success" type="submit" name="student_form" value="submit"/>
      </form>
      {% else %}

  {% endif %}

{% block scripts %}  
<script >
var remaining_seconds = {{ remaining_time.total_seconds }};
function countdown() {
    if (remaining_seconds > 0) {
        remaining_seconds -= 1;
        var minutes = Math.floor(remaining_seconds / 60);
        var seconds = Math.floor(remaining_seconds % 60);
        var remaining_time_string = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
        document.getElementById("remaining-time").textContent = remaining_time_string;
        setTimeout(countdown, 1000);
    } else {
        document.getElementById("remaining-time").textContent = "Time's up!";
    }
}
countdown();
</script>
{% endblock  %} 


{% endblock%}
